{% if categorias|length >= 1 %}
    <table class="responsive-table" id="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>

    
                        <th>Acciones</th>
                    </tr>
                </thead>

               
            


        {% for categoria in categorias %}

            <tbody>
                   
                    <tr>
                        <td>{{categoria.nombre}}</td>
                        
                        <td><a href="#!"class="waves-effect waves-light btn-small"><i class="material-icons left">autorenew</i>Editar</a></td>
                        <td><a href="#!"class="waves-effect waves-light btn-small" id="botonborrar"><i class="material-icons left">delete</i>Borrar</a></td>
                    </tr>
                    
                </tbody>
        {% endfor %}

    </table>
{% else %}
    <strong>No hay categorias</strong>
{% endif %}

