


nav .nav-wrapper{
    background-color: #47D740 !important;
}

nav ul a:hover{
    background-color: #64605F;
    
}

#hola{
    font-size: 60px;
}


#panelcate{
    width: 25em !important;
    margin: auto;
}


#panelpro{
    width: 30em !important;
    margin: auto;
}

#boton:hover{
    background-color: #8dda13;
}


#botonborrar:hover{
    background-color: #ea0e0e !important;
}